:root {
    --main-color: #111;
    --glow-colors: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    --button-width: 220px;
    --button-height: 50px;
}

body {
    background-color: #caf5c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#status {
    margin-bottom: 20px;
}

#word {
    font-size: 2em;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 18px;
    resize: none;
}

#categories {
    width: 35%;
}

.button-area {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

button {
    width: var(--button-width);
    height: var(--button-height);
    border: none;
    outline: none;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#check {
    font-size: 1.5em;
}